<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website Using HTML & CSS | Codehal</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <nav class="navbar">
        <a href="#" class="logo">About Me</a>
        <ul>
            <li><a href="../index.html">Home</a></li> 
            <li><a href="skills.html">Skills</a></li>
            <li><a href="projects.html">Projects</a></li>
        </ul>
    </nav>

    <div class="bars-animation">
        <div class="bar" style="--i:6;"></div>
        <div class="bar" style="--i:5;"></div>
        <div class="bar" style="--i:4;"></div>
        <div class="bar" style="--i:3;"></div>
        <div class="bar" style="--i:2;"></div>
        <div class="bar" style="--i:1;"></div>
    </div>

    <section class="home">
        <div class="home-info">
            <h1>Lacedric Turner</h1>
            <!-- <h2>I'm a
                <span style="--i:4;" data-text="Frontend Developer">Frontend Developer</span>
                <span style="--i:3;" data-text="Project Manager">Project Manager</span>
                <span style="--i:2;" data-text="BAD BITCH"> BAD BITCH</span>
                <span style="--i:1;" data-text=" Software Designer"> Software Designer</span>
            </h2> -->
            <p>I’m a multifaceted professional with a unique blend of expertise spanning real estate, technology, and entrepreneurship. As a realtor, I help clients find homes and investments that match both their lifestyle and financial goals, bringing a personal and solutions-driven approach to every transaction. My background as a software developer adds a powerful layer of problem-solving, innovation, and efficiency—I thrive on building systems and tools that make processes smarter and more seamless.

In addition, I’m the proud owner of a salon, where creativity, community, and client care come together. Running a business in the beauty industry has taught me the importance of customer experience, team leadership, and adaptability in a fast-moving market.

Whether it’s guiding someone through one of life’s biggest purchases, creating technology that empowers growth, or building a welcoming space where people feel their best, I bring dedication, creativity, and a people-first mindset to everything I do.</p>
            <div class="btn-sci">
                <a href="#" class="btn">Download CV</a>
                <div class="sci">
                    <a href="https://github.com/HairAssassin"><i class='bx bxl-github'></i></a>
                    <a href="https://www.linkedin.com/in/lacedric-turner2002"><i class='bx bxl-linkedin'></i></a>
                    <a href="#"><i class='bx bx-phone-call'></i></a>
                    <a href="mailto:lturner@basecampcodingacademy.org"><i class='bx bxl-gmail'></i></a>
                </div>
            </div>
        </div>

        <div class="home-img">
            <div class="img-box">   
                <div id="about-me-frame">
                    <img src="../images/aboutme.PNG" id="about-me-pic" alt="">
                </div>
            </div>
        </div>
    </section>

</body>

</html>